In [ ]:
!pip install mysql-connector-python

In [ ]:
!pip uninstall mysql-connector

In [3]:
import mysql.connector as connector

In [4]:
try:
    connection=connector.connect(
        user="root",
        password="Obviously47!",
        host="127.0.0.1",
        auth_plugin='mysql_native_password')

except connector.Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

In [5]:
cursor = connection.cursor(buffered=True)

In [7]:
createDatabaseQuery = """CREATE DATABASE Lucky_Shrub;"""

In [8]:
cursor.execute(createDatabaseQuery)

DatabaseError: 1007 (HY000): Can't create database 'lucky_shrub'; database exists

In [9]:
use_database_query = """use little_lemon_python"""

In [10]:
cursor.execute(use_database_query)

ProgrammingError: 1049 (42000): Unknown database 'little_lemon_python'

NameError: name 'cursor' is not defined